.List {
  background-color: lighten($color: $grey, $amount: 3);
  display: inline-block;
  margin: 0 26px;
  padding: 22px;
  color: $white;
  min-width: 322px;
  max-height: 680px;
  overflow-y: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
    > button {
      padding: 6px 12px;
      &:hover {
        background-color: lighten($color: $grey, $amount: 20);
        border-radius: 4px;
      }
    }
  }
  &__title {
    font-family: $title-font;
    font-size: 20px;
  }
  &__tickets {
    margin-bottom: 22px;
  }
  &__button {
    @include button--text($white);
    min-height: 36px;
  }
}
