@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

$logo-font: "Patua One", sans-serif;
$title-font: "Ubuntu", sans-serif;
$bread-font: "Roboto", sans-serif;
$button-font: "Roboto Condensed", sans-serif;
